/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

/* Asterisk wildcard selector to override default styling used by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}
/* Header */
header {
    background-color: azure;
}

/* Main Content */
main {
    background-color: darkgray;
    /* Make main element to take up all space available to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: rgb(55, 92, 63);
}