/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

/* Asterisk wildcard selector to override default styling used by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Open Sans", sans-serif;
}
/* Header */
header {
    background: linear-gradient(45deg, #55684f 50%, #64755f);
    padding: 0 0;
    position: fixed;
    z-index: 99;
    width: 100%;
}

#mb-logo {
    width: 25%;
    height: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    color: #C4C4C4;
}
/* Main Content */
main {
    background-color: darkgray;
    /* Make main element to take up all space available to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: rgb(55, 92, 63);
}