/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/* Asterisk wildcard selector to override default styling used by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #33683f;
    font-family: "Montserrat", sans-serif;
}
/* Header */
header {
    background: linear-gradient(45deg, #55684f 50%, #8aa082);
    padding: 0 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 43px;
}

#mb-logo {
    width: 43px;
    height: auto;
    position: fixed;
    left: 0px;
    top: 0px;
}

/* Make text Logo fit on the top-middle of the screen */
#logo-text {
    right: 40px;
    top: 10px;
    position: absolute;
    letter-spacing: 1px;
    color: #CEB66D;
} 

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 125%;
    margin: 0;
}

#menu {
    list-style-type: none;
    color: #F6ED9B;
    font-size: 100%;
    letter-spacing: 5px;
    margin-left: 1em;
    margin-bottom: 1em;
}

#menu > li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.active-page {
    border-bottom: 1px solid #F6ED9B;
}

/* Navigation bar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #55684f;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}
/* Menu Toggle */
#toggle-menu:checked~nav {
    display: block;
}

#toggle-menu {
    display: none;
}

.toggle-menu-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: darkgray;
    /* Make main element to take up all space available to push footer down */
    flex: 1 0 auto;
    margin-top: 43px;
}

/* Footer */
footer {
    background: linear-gradient(15deg, #CEB66D 10%, #55684f);
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    header {
        height: 90px;
    }

    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        top: 45px;
        right: 0px;
        height: 44px;
    }
    
    #mb-logo {
        width: 90px;
        }

    #logo-text {
        position: fixed;
        top: 7px;
        right: 25px;
        font-size: 175%;
        letter-spacing: 6px;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        margin-left: 1rem;
    }

    .toggle-menu-label {
        display: none;
    }

    /* Main Content */
    main {
        /* Make main element to take up all space available to push footer down */
        margin-top: 90px;
    }
}

/* Media query: Large devices ( Laptops and desktops 992px and up) */
@media screen and (min-width: 992px) {
    /* Hover functionality */
    #menu a:hover {
        border-bottom: 1px solid #F6ED9B;
    }

    header {
        height: 110px;
    }

    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        top: 55px;
        right: 0px;
        height: 54px;
    }
    
    #mb-logo {
        width: 110px;
    }
    
    #logo-text {
        position: fixed;
        top: 10px;
        right: 30px;
        font-size: 200%;
        letter-spacing: 17px;
    }

    #menu>li {
        font-size: 125%;
        letter-spacing: 5px;
        margin-left: 3rem;
    }

    /* Main Content */
    main {
        /* Make main element to take up all space available to push footer down */
        margin-top: 110px;
    }
}

/* Media query: Large devices (Desktops 1200px and up) */
@media screen and (min-width: 1200px) {

    /* Hover functionality */
    #menu a:hover {
        border-bottom: 1px solid #F6ED9B;
    }

    header {
        height: 140px;
    }
    
    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        top: 40px;
        right: 0px;
        height: 75px;
    }
    
    #mb-logo {
        width: 140px;
    }
    
    #logo-text {
        position: fixed;
        top: 45px;
        left: 160px;
        font-size: 280%;
        letter-spacing: 10px;
    }
    
    #menu>li {
        font-size: 125%;
        letter-spacing: 2px;
        margin-left: 2rem;
    }

    /* Main Content */
    main {
        /* Make main element to take up all space available to push footer down */
        margin-top: 140px;
    }
}